* {
    margin: 0;
    padding: 0;
}

:root {
    --mainColor: #F2EFE5;
    --fontColor: #49243E;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

body {
    color: var(--fontColor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: cursive;
}

a {
    text-decoration: none;
    color: var(--fontColor);
    font-weight: bold;
    font-size: 20px;
}

.container {
    padding: 40px;
    border-radius: 10px;
    background-color: var(--mainColor);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #E3E1D9;
    padding: 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

ul {
    display: flex;
    align-items: center;
}
span{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
header h1 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -5px;
}

ul li {
    margin: 0 10px;
}

header a:hover {
    color: #a05289;
}

#skills {
    display: flex;
    justify-content: space-between;
    background-color: var(--mainColor);
}

main {
    min-height: 100vh;
}

#skills h1 {
    margin-top: 200px;
    font-size: 50px;
    line-height: 1.5;
}

img {
    display: block;
    margin-bottom: 10px;
    margin-top: 50px;
    border-radius: 10px;
}

#projects {
    display: flex;
    justify-content: space-around;
    background-color: #E3E1D9;
    /* min-height: 100vh; */
    height: 500px;
    border-radius: 10px;
}

#skills img {
    width: 450px;
    height: 450px;
    margin: 70px;
    border-radius: 50%;
}

#contact {
    margin-top: 100px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    line-height: 2;
}

#contact a {
    color: gray;
}

#contact a:hover {
    color: var(--fontColor);
}